<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
    <head>
        <script src="../static/css/jquery.min.js" th:src="@{/css/jquery.min.js}"></script>
    </head>
    <body>
        <p>home</p>
        <a href="./account/LogIn.html" th:href="@{/login}">LogIn</a>
        <a href="./account/LogOut.html" th:href="@{/logout}">LogOut</a>
        <a href="./account/DashBoard.html" th:href="@{/DashBoard}">게시판</a>
        <a href="./account/Create_Account.html" th:href="@{/Create_Account}">Create Account</a>
    </body>
</html>