<!DOCTYPE html>


<html xmlns:th="https://thymeleaf.org">
    <head>
            <link rel="stylesheet" href="../static/css/bootstrap.min.js" th:href="@{/css/bootstrap.min.css}">
            <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
            <script src="../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    </head>
    <body>
        <form th:action=@{/organization/list}>
            <div class="input-group col-6">
                <input type="text" class="form-control" id="search" name="search" th:value="(${resultMap.search} == '' ?'': ${resultMap.search})">

                <select class="form-control col-2" id="sel" name="sel" >
                    <option th:if="${resultMap.sel.toString() } == 'name'" value="name" selected>이름</option>
                    <option th:unless="${resultMap.sel.toString()} == 'name'" value="name">이름</option>
                    <option th:if="${resultMap.sel.toString()} == 'id'" value="id" selected>아이디</option>
                    <option th:unless="${resultMap.sel.toString()} == 'id'" value="id">아이디</option>
                    <option th:if="${resultMap.sel.toString()} == 'writer'" value="writer" selected>설명</option>
                    <option th:unless="${resultMap.sel.toString()} == 'writer'" value="writer">설명</option>
                </select>
                <button type="submit" class="btn btn-primary">search</button>
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>name</th>
                    <th>ID</th>
                    <th>description</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="resultData: ${resultList}">
                    <td th:text=${resultData.NAME}></td>
                    <td th:text=${resultData.COMMON_CODE_ID}></td>
                    <td th:text=${resultData.DESCRIPTION}></td>
                </tr>

            </tbody>
        </table>
    </body>
</html>