<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
    <head>
        <script src="../static/css/jquery.min.js" th:src="@{/css/jquery.min.js}"></script>
    </head>
    <body>
        <div>
            <form th:action=@{/organization/read/}>
                <span>
                    ID : <input type="text" name="ID">
                </span>
                <span>
                    AGE : <input type="text" name="AGE">
                </span>
                <span>
                    NAME : <input type="text" name="NAME">
                </span>
                <span>
                    DES : <input type="text" name="DES">
                </span>
                <span>
                    HOBBY : <input type="text" name="HOBBY">
                </span>
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>